.fetch-flight-con{
    --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
    padding: 3vw 5vw 0;
    .ff-title{
        margin-bottom: 1.042vw;
        font:normal normal normal 1.99vw/2.042vw var(--font-Jotia);
    }
    .ff-body-con{
        display: flex;
        justify-content: space-between;
        .ffc-s-item{
            font:normal normal normal 0.729vw/0.729vw var(--font-Jotia);
            padding: 0.26vw 0;
        }
        .ffc-m-item{
            font:normal normal normal 1.042vw/1.042vw var(--font-Jotia);
            padding: 0.26vw 0;
        }
        .ffc-m-b-item{
            font:normal normal 300 1.042vw/1.042vw var(--font-Jotia);
            padding: 0.26vw 0;
        }
        .ffc-l-item{
            font:normal normal 300 1.542vw/1.542vw var(--font-Jotia);
            padding: 0.26vw 0;
        }
        .dgc-item{
            padding-left: 4.563vw;
        }
        .ff-bl-con{
            width: 62.5vw;
            .bs-con{
                display: grid;
                grid-template-columns: 33.33% 33.33% 33.33%;
                background-color: #fff;
                padding: 1.042vw; 
                margin-bottom: 2.083vw;
                border-radius: 0.26vw;
            }
            .bf-con{
                background-color: #fff;
                padding: 0 1.042vw;
                border-radius: 0.26vw;
                .bf-con-head{
                    border-bottom: 0.052vw solid #ccc;
                    padding:1.042vw 0 0.521vw;
                }
                .bf-con-body{
                    display: grid;
                    grid-template-columns: 33.33% 33.33% 33.33%;
                    padding: 1.042vw 0;
                    border-bottom: 0.052vw solid #ccc;
                }
            }
        }
        .ff-br-con{
            width: 20.833vw;
            .bp-con{
                background-color: #fff;
                padding: 1.042vw;
                border-radius: 0.26vw;
            }
            .bpd-con{
                margin-top: 2.084vw;
                background-color: #fff;
                padding: 0.521vw 1.042vw 1.042vw;
            }
            .dwd-btn{
                padding: 0.522vw 2.083vw;
                border-radius: 0.26vw;
                margin-top: 2.083vw;
                border: 0;
                background-color: #fff;
            }
        }
    }
}