body {
  background-color: #f2f3fa;
}

.home-con {
  --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
  background-color: #fff;
  margin-top: 6vw;
  border-radius: 1.302vw;
}
.home-con .hc-nav {
  border: 0;
  border-top-left-radius: 1.302vw;
}
.home-con .home-tabs {
  padding: 2.084vw;
}
.home-con .home-tab-head {
  width: 50%;
}
.home-con .home-tab-head .home-th-item {
  font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
  text-align: center;
  padding: 1.042vw;
  color: rgb(96, 96, 96);
  background-color: #fff;
  border: 0;
  margin: 0;
  cursor: pointer;
}
.home-con .home-tab-head .home-th-item-l {
  border-top-left-radius: 1.302vw;
  border-top-right-radius: 0;
}
.home-con .home-tab-head .home-th-item-r {
  border-top-right-radius: 1.302vw;
  border-top-left-radius: 0;
}
.home-con .home-tab-head .home-th-item.active {
  background-color: rgb(96, 96, 96);
  color: #fff;
}

.search-flights-con {
  display: flex;
  justify-content: center;
}

.f-q-container {
  display: flex;
  --filterheight:4.151vw;
}

.s-b-con {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.042vw;
}
.s-b-con .search-flights-btn {
  --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
  font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
  border: 0.052vw solid #ccc;
  border-radius: 0.26vw;
  width: 12.719vw;
  height: 4.167vw;
  background-color: transparent;
}

.desti-con .da-dropdown-btn .da-input {
  font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
  padding: 0.526vw;
  padding-top: 1.302vw;
  width: 16.667vw;
  height: 4.167vw;
}
.desti-con .da-dropdown-btn .da-input-l {
  border: 0.052vw solid #ccc;
  border-radius: 0.26vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.desti-con .da-dropdown-btn .da-input-r {
  border: 0.052vw solid #ccc;
  border-left: 0;
  border-radius: 0;
}
.desti-con .da-dropdown-btn .da-input-label {
  padding: 1.4vw 0.526vw;
  font: normal normal normal 0.99vw/1.043vw var(--font-Jotia);
}
.desti-con .dropdown-toggle::after {
  display: none;
}
.desti-con .da-options {
  max-height: 18.6vw;
  width: 33.333vw;
  overflow-y: scroll;
}
.desti-con .da-options .departure-item {
  padding: 0.521vw;
  border-bottom: 0.052vw solid #ccc;
}
.desti-con .da-options .departure-item:last-child {
  border-bottom: none;
}
.desti-con .da-options .d-name {
  font: normal normal normal 0.75vw/0.75vw arial;
}

.trip-details-con {
  --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
}
.trip-details-con .trip-details-btn {
  height: 4.167vw;
  width: 7vw;
  border: 0.052vw solid #ccc;
  border-left: none;
  padding: 0.521vw;
  font-family: var(--font-Jotia);
}
.trip-details-con .trip-details-btn .trip-placeholder {
  font: normal normal normal 0.764vw/0.766vw var(--font-Jotia);
}
.trip-details-con .trip-details-btn .trip-displayvalue {
  font: normal normal normal 0.99vw/2.083vw var(--font-Jotia);
}
.trip-details-con .dropdown-toggle::after {
  display: none;
}
.trip-details-con .trip-select-con {
  padding: 0.521vw;
  width: 7vw;
}
.trip-details-con .trip-select-con .trip-item {
  font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
  margin-bottom: 0.521vw;
  cursor: pointer;
}
.trip-details-con .trip-select-con .trip-item:last-child {
  margin-bottom: 0;
}

.date-select-con {
  --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
  border: 0.052vw solid #ccc;
  border-left: none;
  width: 18vw;
}
.date-select-con .date-select-item-d {
  width: 9vw;
  padding: 0.521vw;
  font-family: var(--font-Jotia);
}
.date-select-con .date-select-item-d .date-placeholder {
  font: normal normal normal 0.764vw/0.766vw var(--font-Jotia);
}
.date-select-con .date-select-item-r {
  width: 18vw;
  padding: 0.521vw;
  font-family: var(--font-Jotia);
}
.date-select-con .date-select-item-r .dp-r {
  width: 9vw;
}
.date-select-con .date-select-item-r .date-placeholder {
  font: normal normal normal 0.764vw/0.766vw var(--font-Jotia);
}
.date-select-con .SingleDatePicker .SingleDatePickerInput__withBorder {
  border: none;
  border-radius: 0;
}
.date-select-con .DateInput {
  width: 7.771vw;
  height: 2.083vw;
}
.date-select-con .DateInput_input__focused {
  border: 0;
}
.date-select-con .DateInput_input {
  font: normal normal normal 0.99vw/2.042vw var(--font-Jotia) !important;
  padding: 0;
}
.date-select-con .DateRangePickerInput__withBorder {
  border: none;
  border-radius: 0;
}
.date-select-con .DateRangePickerInput_arrow_svg {
  display: none;
}
.date-select-con .DayPickerKeyboardShortcuts_show__bottomRight {
  display: none;
}
.date-select-con .CalendarDay__selected {
  background-color: rgb(96, 96, 96);
  border: rgb(96, 96, 96);
}
.date-select-con .CalendarDay__selected:active {
  background-color: rgb(96, 96, 96);
  border: rgb(96, 96, 96);
}
.date-select-con .CalendarDay__selected_span {
  background-color: #ccc;
  border: #ccc;
}
.date-select-con .CalendarDay__hovered_span {
  background-color: #ccc;
  border: #ccc;
  color: #fff;
}

.passengercount-con {
  --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
}
.passengercount-con .pc-dropdown-btn {
  cursor: pointer;
  height: 4.167vw;
  width: 12.719vw;
  border: 0.052vw solid #ccc;
  border-left: none;
  padding: 0.521vw;
  font-family: var(--font-Jotia);
  border-top-right-radius: 0.26vw;
  border-bottom-right-radius: 0.26vw;
}
.passengercount-con .pc-dropdown-btn .pc-placeholder {
  font: normal normal normal 0.764vw/0.766vw var(--font-Jotia);
}
.passengercount-con .pc-dropdown-btn .pc-displayvalue {
  font: normal normal normal 0.99vw/2.083vw var(--font-Jotia);
}
.passengercount-con .dropdown-toggle::after {
  display: none;
}
.passengercount-con .pass-detail-con {
  width: 22.229vw;
  padding: 1.043vw;
  font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
}
.passengercount-con .pass-detail-con .counter-con {
  padding-bottom: 0.417vw;
}
.passengercount-con .pass-detail-con .p-d-heading {
  font-weight: 600;
  color: #555;
  padding-bottom: 0.521vw;
}
.passengercount-con .pass-detail-con .p-holder {
  display: flex;
  align-items: center;
}
.passengercount-con .pass-detail-con .p-counter {
  padding: 0.26vw 10.003px;
  border: 0.052vw solid grey;
  color: rgb(96, 96, 96);
  cursor: pointer;
  height: 2.188vw;
  width: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.passengercount-con .pass-detail-con .p-counter:hover {
  background-color: rgb(96, 96, 96);
  color: #fff;
}
.passengercount-con .pass-detail-con .p-value {
  padding: 0.26vw 10.003px;
  border: 0.052vw solid grey;
  border-left: none;
  border-right: none;
  cursor: pointer;
  height: 2.188vw;
  width: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.passengercount-con .pass-detail-con .class-con {
  border-top: 0.998px solid #ccc;
  padding-top: 1.042vw;
}
.passengercount-con .pass-detail-con .class-con .sc-radio-input:checked {
  background-color: rgb(96, 96, 96);
  border-color: rgb(96, 96, 96);
}
.passengercount-con .pass-detail-con .class-con .sc-radio-input-c {
  margin-bottom: 0;
  padding-left: 0;
}

.my-trips-con {
  width: 75.219vw;
  display: flex;
  padding: 2.084vw;
  height: 13.552vw;
}
.my-trips-con .rbd-input {
  font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
  padding: 0.526vw;
  width: 20.625vw;
  height: 4.167vw;
}
.my-trips-con .rbd-input-l {
  border: 0.052vw solid #ccc;
  border-radius: 0.26vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.my-trips-con .rbd-input-r {
  border: 0.052vw solid #ccc;
  border-left: 0;
  border-radius: 0.26vw;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.my-trips-con .rbd-input-label {
  padding: 1.4vw 0.526vw;
  font: normal normal normal 0.99vw/1.043vw var(--font-Jotia);
}
.my-trips-con .rbd-btn {
  height: 4.167vw;
  width: 10.417vw;
  background: transparent;
  border: 0.052vw solid #ccc;
  border-radius: 0.26vw;
  margin-left: 2.084vw;
  font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
}/*# sourceMappingURL=Home.css.map */