body{
    background-color: #f2f3fa
}
.home-con{
    --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
    background-color: #fff;
    margin-top: 6vw;
    border-radius: 1.302vw;
    .hc-nav{
        border: 0;
        border-top-left-radius: 1.302vw;
    }
    .home-tabs{
        padding: 2.084vw;
    }
    .home-tab-head{
        width: 50%;
        .home-th-item{
            font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
            text-align: center;
            padding: 1.042vw;
            color: rgb(96, 96, 96);
            background-color: #fff;
            border: 0;
            margin: 0;
            cursor: pointer;
        }
        .home-th-item-l{
            border-top-left-radius: 1.302vw;
            border-top-right-radius: 0;
        }
        .home-th-item-r{
            border-top-right-radius: 1.302vw;
            border-top-left-radius: 0;
        }
        .home-th-item.active{
            background-color: rgb(96, 96, 96);
            color: #fff;
        }
    }
}
.search-flights-con{
    display: flex;
    justify-content: center;
}
.f-q-container{
    display: flex;
    --filterheight:4.151vw;
}
// .search-flights-form{
//     // background-color: #fff;
//     // padding: 2.604vw;
//     // border-radius: 1.302vw;
// }
.s-b-con{
    display: flex;
    justify-content: flex-end;
    padding-top: 1.042vw;
    .search-flights-btn{
        --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
        font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
        border:0.052vw solid #ccc;
        border-radius: 0.26vw;
        width:12.719vw;
        height: 4.167vw;
        background-color: transparent;
    }
}

.desti-con{
    .da-dropdown-btn{
        // .form-floating>.form-control:focus~label{
        //     transform: scale(.85) translateY(-0.417vw) translateX(0.125vw);
        // }
        .da-input{
            font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
            padding: 0.526vw;
            padding-top: 1.302vw;
            width: 16.667vw;
            height: 4.167vw;
        }
        .da-input-l{
            border: 0.052vw solid #ccc;
            border-radius: 0.26vw;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;  
        }
        .da-input-r{
            border: 0.052vw solid #ccc;
            border-left: 0;
            border-radius: 0;
        }
        .da-input-label{
            padding: 1.4vw 0.526vw;
            font: normal normal normal 0.99vw/1.043vw var(--font-Jotia);
        }
    }
    .dropdown-toggle::after{
        display: none;
    }
    .da-options{
        max-height:18.6vw;
        width: 33.333vw;
        overflow-y: scroll;
        .departure-item{
            padding:0.521vw;
           border-bottom: 0.052vw solid #ccc;
            &:last-child{
                border-bottom: none;
            }
        }
        .d-name{
            font: normal normal normal 0.75vw/0.75vw arial;
        } 
    }
}

// trip-details
.trip-details-con{
    --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
    .trip-details-btn{
        height: 4.167vw;
        width:7vw;
        border:0.052vw solid #ccc;
        border-left:none;
        padding: 0.521vw;
        font-family: var(--font-Jotia);
        .trip-placeholder{
            font:normal normal normal 0.764vw/0.766vw var(--font-Jotia);
        }
        .trip-displayvalue{
            font:normal normal normal 0.99vw/2.083vw var(--font-Jotia);
        }
    }
    .dropdown-toggle::after{
        display: none;
    }
    .trip-select-con{
        padding: 0.521vw;
        width: 7vw;
        .trip-item{
            font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
            margin-bottom: 0.521vw;
            cursor: pointer;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}


// date-details

.date-select-con{
    --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
    border:0.052vw solid #ccc;
    border-left:none;
    width:18vw;
    .date-select-item-d{
        width:9vw;
        padding: 0.521vw;
        font-family: var(--font-Jotia);
        .date-placeholder{
            font:normal normal normal 0.764vw/0.766vw var(--font-Jotia);
        }
    }
    .date-select-item-r{
        width:18vw;
        padding: 0.521vw;
        font-family: var(--font-Jotia);
        .dp-r{
            width:9vw
        }
        .date-placeholder{
            font:normal normal normal 0.764vw/0.766vw var(--font-Jotia);
        }
    }
    .SingleDatePicker .SingleDatePickerInput__withBorder{
        border: none;
        border-radius: 0;
    }
    .DateInput{
        width:7.771vw;
        height:2.083vw;
    }
    .DateInput_input__focused{
        border: 0;
    }
    .DateInput_input{
        font:normal normal normal 0.99vw/2.042vw var(--font-Jotia) !important;
        padding: 0;
    }
    .DateRangePickerInput__withBorder{
        border: none;
        border-radius: 0;
    }
    .DateRangePickerInput_arrow_svg{
        display: none;
    }
    .DayPickerKeyboardShortcuts_show__bottomRight{
        display: none;
    }
    .CalendarDay__selected{
        background-color: rgb(96, 96, 96);
        border: rgb(96, 96, 96);
        &:active{
            background-color: rgb(96, 96, 96);
            border: rgb(96, 96, 96);
        }
    }
    .CalendarDay__selected_span{
        background-color: #ccc;
        border: #ccc;
    }
    .CalendarDay__hovered_span{
        background-color: #ccc;
        border: #ccc;
        color: #fff;
    }
}

// Passenger Count 

.passengercount-con{
    --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
    .pc-dropdown-btn{
        cursor: pointer;
        height: 4.167vw;
        width:12.719vw;
        // height:4.151vw;
        border:0.052vw solid #ccc;
        border-left:none;
        padding: 0.521vw;
        font-family: var(--font-Jotia);
        border-top-right-radius: 0.26vw;
        border-bottom-right-radius: 0.26vw;
        .pc-placeholder{
            font:normal normal normal 0.764vw/0.766vw var(--font-Jotia);
        }
        .pc-displayvalue{
            font:normal normal normal 0.99vw/2.083vw var(--font-Jotia);
        }
    }
    .dropdown-toggle::after{
        display: none;
    }
    .pass-detail-con{
        width:22.229vw;
        padding:1.043vw;
        font:normal normal normal 0.99vw/1.042vw var(--font-Jotia);
        .counter-con{
            padding-bottom: 0.417vw;
        }
        .p-d-heading{
            font-weight: 600;
            color:#555;
            padding-bottom: 0.521vw;
        }
        .p-holder{
            display: flex;
            align-items: center;
        }
        .p-counter{
            padding: 0.26vw 10.003px;
            border:0.052vw solid grey;
            color:rgb(96, 96, 96);
            cursor: pointer;
            height: 2.188vw;
            width:2.5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                background-color: rgb(96, 96, 96);
                color: #fff;
            }
        }
        .p-value{
            padding: 0.26vw 10.003px;
            border:0.052vw solid grey;
            border-left: none;
            border-right: none;
            cursor: pointer;
            height: 2.188vw;
            width:2.5vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .class-con{
            border-top: 0.998px solid #ccc;
            padding-top: 1.042vw;
            .sc-radio-input{
                &:checked {
                    background-color: rgb(96, 96, 96);
                    border-color: rgb(96, 96, 96);
                }
            }
            .sc-radio-input-c{
                margin-bottom: 0;
                padding-left: 0;
            }
        }
    }
}


.my-trips-con{
    width: 75.219vw;
    display: flex;
    padding: 2.084vw;
    height: 13.552vw;
    .rbd-input{
        font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
        padding: 0.526vw;
        width: 20.625vw;
        height: 4.167vw;
    }
    .rbd-input-l{
        border: 0.052vw solid #ccc;
        border-radius: 0.26vw;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;  
    }
    .rbd-input-r{
        border: 0.052vw solid #ccc;
        border-left: 0;
        border-radius: 0.26vw;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; 
    }
    .rbd-input-label{
        padding: 1.4vw 0.526vw;
        font: normal normal normal 0.99vw/1.043vw var(--font-Jotia);
    }
    .rbd-btn{
        height: 4.167vw;
        width: 10.417vw;
        background: transparent;
        border: 0.052vw solid #ccc;
        border-radius: 0.26vw;
        margin-left: 2.084vw;
        font: normal normal normal 0.99vw/1.042vw var(--font-Jotia);
    }
}